body {
background-color: navy;
color: white;
}

/*
img {
width:100px;
height:100px;
}
*/

h4 {
font-style: italic;
}

main {
margin: 4px;
}

article {
padding: 4px;
padding-bottom: 0px;
margin: 0px;
background: gold;
}

/* Add your flexbox CSS below here */

section {
display: flex;
flex-wrap: wrap;
}


/* Code for the buttons */
.button {
  font: bold 22px Arial;
  text-decoration: none;
  background-color: gold;
  color: darkslategray;
  padding: 2px 6px 2px 6px;
  margin-right:30px;
  margin-top: 7px;
  border-radius: 9px;
  border-top: 1px solid gold;
  border-right: 2px solid darkslategray;
  border-bottom: 2px solid darkslategray;
  border-left: 1px solid gold;
}

.button:hover {
  background-color: #FF9900;
  color:  navy;
  border-top: 1px solid  lightsalmon;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid  lightsalmon;
}

.right {
    float:right;
    margin-right:72px;
}